@charset "UTF-8";

@font-face{
    font-family: PPMori;
    src:url(./PPMori-SemiBold.woff)
}
*{margin: 0; padding: 0; box-sizing: border-box;}


.main{
    width: 100vw; height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: orange;
}
.main .items{
    position: absolute;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
}
.main .items .item{
    width: 150px;height: 200px;
    position: absolute; top: 0;left: 0;
    overflow: hidden;
}
.main .items .item img{width: 100%;}
.main h1{
    font-family: PPMori;font-size: 40px;
    text-transform: uppercase;}