*{margin: 0;padding: 0;}

.wrap{width: 90%;margin: 0 auto;}
.text{height: 50vh;}
.text p{
    color: #454545;
    line-height: 1.5em;
    max-width: 600px;
    margin-block: 1em;
}
.image-slider-fullscreen {
    margin: 0;
    height: 100vh;
}
.image-slider {
    width: 100%;
    min-height: 20em;
    position: relative;
    overflow: hidden;
    cursor: none;
}
.image-slider-sm {
    max-width: 600px;
    margin: 0 auto;
}
.image-slider img {
    width: 0; height: 100%;
    position: absolute;
    top: 0;left: 0;
    object-fit: cover;
    transition:800ms cubic-bezier(0.86, 0, 0.07, 1); /* 800ms = 0.8s */
}
.image-slider img:first-child {width: 100%;}
.prev-slide,
.next-slide {
    width: 50%;height: 100%;
    position:absolute;top: 0;
}
/* 버튼과 같은 역할임 */
.prev-slide {left: 0;background-color: rgba(255,0,0,0.2);}
.next-slide {right: 0;background-color: rgba(0,0,255,0.2);}

.tracker {
    position: absolute;
    top: 0; left: 0;
    background-color: #ff9646;
    color: #fff;
    height: 0;
    border-radius: 5em;
    pointer-events: none;
    z-index: 5;
    overflow: hidden;
    padding: 1.5em 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 500ms;
    /* opacity: 0; */
}
.image-slider:hover .tracker {
    opacity: 1;
}