@font-face{
    font-family: Humane;
    src: url(./63bf3e1c32ea7b2c3d1bdf93_Humane-Bold.otf)
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{color: inherit; text-decoration: none;}
html,body{background-color: black;}
html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
}

img {
    width: 100%;
    object-fit: cover;
}
.container{width: 100%;height: 100%;}
section.sticky {
    width: 100vw;height: 100vh;
    position: sticky;
    top: 0;left: 0;
    background: #5546ff;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    color: #bfff00;
    font-family: Humane,serif;
}

.links {
    display: flex;
    align-items: center;
    gap: 1em;

}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}
.header {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header h1 {
    text-transform: uppercase;
    font-family: "Humane";
    font-size: 45vw;
    font-weight: 400;
    color: #fff;
    line-height: 100%;
}
.tracker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    padding: 2em 0;

}


.emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background: url(./assets/sphere.png) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 100%;
}

.emoji-face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.eyes,
.mouth-wrapper {
    flex: 1;
}


.eyes {
    display: flex;
    justify-content: space-between;
}
   
.eyes img {
    width: 100px;
    height: 100px;
    animation: rotateEyes 4s infinite linear;
}

.mouth-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.mouth {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #000;
    animation: wonderFace 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes rotateEyes {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes wonderFace {
    0% {
        height: 40px;
    }
    50% {
        height: 80px;
    }
    100% {
        height: 40px;
    }
}
.badge-parent {
    z-index: 3;
    width: 14rem;
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: -7%;
}

.row {
    display: flex;
    /* gap: 2em; */
    margin: 2em 0;
}

.row img {
    width: 25%;
    height: 600px;
    display: block;
}
.absolute {
    position: absolute;
}
.heading-sm {
    z-index: 1;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: Humane, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: .9;
}

/* second section */
.website-content{
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw; height: 100vh;
    background-color: #1c1c1c;
}
.section-header h1 {
    font-family: Humane Bold, sans-serif;
    font-size: 10vw;
    font-weight: 400;
    color: #fff;
    line-height: 100%;
    text-transform: uppercase;
}
.section-header p {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
    width: 25%;
}
.section-images{
    position: absolute;
    width: 100%;
    bottom: 0;left: 50%;
    transform: translateX(-50%);
}

/* third section */
section.website-content2{
    display: flex;
    flex-wrap: wrap;
    padding: 8rem 2rem 23rem;
    height: auto;
    position: relative;
}
.relative {
 width: 50%;
 position: relative;}

 .face-six {
    width: 18rem;
    position: absolute;
    top: -10%;
    bottom: auto;
    left: auto;
    right: 8%;
}

.badge-parent-left {
    z-index: 3;
    width: 14rem;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: -8%;
    left: -16%;
}
.absolute {
    position: absolute;
}
.heading-sm {
    z-index: 1;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: Humane, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: .9;
}

 /* 둥근 아이콘 모양 */
 .face-seven {
    width: 24rem;
    position: absolute;
    top: -39%;
    bottom: auto;
    left: -5%;
    right: auto;
}

.face-eight {
    width: 20rem;
    position: absolute;
    top: auto;
    bottom: 2%;
    left: auto;
    right: 15%;
}
.bg-green.bg-green {
    background-color: #bfff0a;
}

/* 텍스트 */
.text-black{width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/* 빈공간들 */
.heading-large {
    text-transform: uppercase;
    padding-top: 1.5rem;
    font-family: Humane, sans-serif;
    font-size: 10rem;
    font-weight: 700;
    line-height:.8;
    overflow: hidden;
    text-align: center;
}
.div-hide {
    position: relative;
    overflow: hidden;
}
.div-hide.two {
    margin-right: 22rem;
}
.div-hide.three {
    margin-left: 4rem;
}

.flow-lg {
    margin-top: 6.5rem;
}
.wave {
    z-index: 2;
    /* width: 100%;
    object-fit: cover; */
    position: absolute;
    top: auto;
    bottom: -4rem;
    left: -100%;
    /* right: 0%; */
}