#이조상>div{padding-left: 50px;}
#이조상>div.이지만>div{padding-left: 50px;}
#이조상>div.이서윤>div{padding-left: 50px;}


/* #이조상 .이지만{border: 2px solid red;} */ 
/* 🔍띄어쓰기 : '이조상'의 자손들 중에 '이지만'은 다 대답해라. */
#이조상>.이지만{
    color: blue; /* 꺽쇠(>)를 쓰더라도 색깔은 다 상속이 됨 */
    background-color: cornflowerblue; 
}

#이조상>div.이지만 .이서연{background-color: red;}

/* 내 바로밑에 있는 div 3개중에 이름이 '이지만'인 사람을 부른 것.
'#이조상 div{}' 꺽쇠없이 띄어쓰기만 하면 모든 div를 부를 것임 */

/* > : 내바로밑의 부하
띄워쓰기 : 내 부하들 전부
(상사)>. (이름).(이름) : 상 */

#이조상>div.이서윤 .이지호{background-color: cadetblue;}
