* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    padding-bottom: 200vh;
}

.box1 {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    margin: 100px auto 30px;
}

.box1 .child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    color: green;
    font-size: 22px;
    line-height: 30px;
    border-radius: 20px;
    /*  transition-property: transform; --> 무엇을 */
    /* transition-duration: 0.8s; --> 동안 */
    /*  transition-timing-function: cubic-bezier(0.82, 0.13, 0.45, 0.95); */
    /* transition-timing-function: ease; --> 기본값 */
    /* transition-delay: 1s; */

    /* 축약했을 때 시간은 뒤바뀌면 안됨 0.5s duration 1s는 delay */
    transition: transform 0.5s 1s cubic-bezier(0.82, 0.13, 0.45, 0.95);
    transition: transform 0.5s 0.5s ease,
                background-color 0.8s ease,
                color 0.5s 1s ease; /* 따로 명령을 해줄때 이렇게 적음 */
}

.box1 .child .more {}

.box1 .child:hover {
    transform: translateY(-50px);
    /* 애니메이션을 사용할때 사용한다. */
    background-color: lightseagreen;
    color: blue;
}

.box2{
    width: 400px; 
    font-size: 30px;
    background-color: lightcoral;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;  
    margin-bottom: 50px;
}
.box2>div{
    transform: translate(-100%);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.34, 1.71);
}   
.box2:hover>div{transform: translate(0%);}
.box2>div.one{transition: 0.3s;}
.box2>div.two{transition: 0.6s;}
.box2>div.third{transition: 0.9s;}

.box3{
    position: relative;
    width: 100px;height: 100px;
    background-color: lightgreen;
    text-align: center;
    font-size: 30px; line-height: 100px;

    animation-name: box-ani;/* keyframes의 이름과 연결한다. */
    /* 애니메이션의 지속시간을 나타냄 */
    animation-duration: 2s;
    /* 애니메이션의 반복횟수:3, infinite(무한반복) */
    animation-iteration-count: infinie;
    /* 애니메이션의 방향 */
    /* normal 기본값 */
    /* alternate 정 -> 역 -> 정
    alternate-reverse  역 -> 정 -> 역*/
    animation-direction: alternate;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    /* 애니메이션의 가속도 */
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.34, 1.71);
    /* 애니메이션이 시작전과 끝난 상태에서 멈춤 */
    animation-fill-mode: both;
    /* backwoard내이메이션이 시작되는 지점을 keyframe의 0%상태에서 시작하게 함
    both => forwards + backwards */
}

@keyframes box-ani{
    from{left: 100px;/* 전체시간에서 시작시점 = 0% */
    }
    to{left: 500px;/* 전체시간에서 시작시점 = 100% */
    }}

.box4{
    width: 100px;height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 10px; line-height: 100px;
    transform:translate(100px,100px);
    animation: box-ani2 4s linear 1s infinite both;
}
@keyframes box-ani2{
    0%{transform: translate(0,0);}
    25%{transform: translate(200px,0);}
    50%{transform: translate(200px,200px);}
    75%{transform: translate(0, 200px);}
    100%{transform: translate(0,0);}
}

/* box5 */
.box5{
    display: flex; gap:2%;
    /* 카메라 위치-얼마나 떨어져서 보고 있는가? */
    perspective: 600px;
}
.box5>div{
    width: 49%; height: 300px; 
    background-color: bisque;
    margin-top: 300px;
    position: relative;}
.box5 .c1{transform-style: preserve-3d;}/* ✨중간역할을 하는 얘한테 transform을 줘야 부드럽게 됨 */
.box5 .ro{
    position: absolute; left: 50%;top: 50%;
    font-size: 40px;
    background-color: crimson;
    color: #fff;
    padding: 20px 30px;
    transform: rotateY(45deg); /* degree(각도) y를 주는 이유는 축이 y기준이기 때문이다. 만약 rotateX면 박스의 가로중간에 축이 잡히는 것임 */
}

.box5 .c2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    perspective: 600px;
}
.box5 .top{transform-style:preserve-3d ;}
.box5 .top div{
    transform-style:preserve-3d ;
    transform: translateY(100%) rotateX(-90deg);
    opacity: 0;
    transition: 0.8s cubic-bezier(0.25, 0.1, 0.34, 1.79);
}
.box5 c2:hover .top div{
    transform: translateY(0) rotateX(0deg) ;
    opacity: 1;
}