*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #666;}
body{padding-top: 100px;}

.aaa{
    border: 3px solid #FF71CD;
    width: 400px;
    margin: 0 auto;
    ul{ /* =.aaa ul{} */
        border: 3px solid #5755FE;
        >li{border-bottom: 1px solid #000;}
        a{&:hover{color: #FFAF45;}}
        &:last-child{background-color: indigo;}
    }

    &.active{background-color: #8B93FF;} /* = .aaa.active */
}
